# Importing Data and defining functions for feature engineering

1. Import Modules
2. Import data
3. Defining of functions
4. Applying and testing

## Importing Modules

In [1]:
import pandas as pd
import numpy as np

import functions as fu
from feature_engineering import *

# Pfade setzen
c_fold = fu.get_folder()
p_fold = c_fold + '\data\Prepared'

# Importing Data

In [2]:
# import Full Data
#df = fu.csv_einlesen(p_fold)


# import one dataset for developing
df = pd.read_csv(f"{p_fold}\\prepared_RW20.csv", index_col = 0)
print("Size of Dataframe: ",df.shape)

Size of Dataframe:  (1222375, 11)

# Defining of Functions

# Applying and testing

In [3]:
df = feature_creator(df,'voltage',['batteryname','zyklus'],"mean")
df = feature_creator(df,'voltage',['batteryname','zyklus'],"median")
df = feature_creator(df,'voltage',['batteryname','zyklus'],"min")
df = feature_creator(df,'voltage',['batteryname','zyklus'],"max")
df = feature_creator(df,'voltage',['batteryname','zyklus'],"std")
df.head()

,batteryname,zyklus,step,comment,type,time,relativeTime,voltage,current,temperature,date,mean_voltage_all,median_voltage_all,min_voltage_all,max_voltage_all,std_voltage_all
0,RW20,0,0,charge (after random walk discharge),C,60.04,0.04,3.957,-2.005,22.22000,04-Aug-2014 12:30:47,4.186659,4.2,3.957,4.2,0.038696
1,RW20,0,1,charge (after random walk discharge),C,120.04,60.04,4.032,-2.000,22.26685,04-Aug-2014 12:30:47,4.186659,4.2,3.957,4.2,0.038696
2,RW20,0,2,charge (after random walk discharge),C,180.04,120.04,4.051,-2.000,22.40741,04-Aug-2014 12:30:47,4.186659,4.2,3.957,4.2,0.038696
3,RW20,0,3,charge (after random walk discharge),C,240.04,180.04,4.059,-2.000,22.61045,04-Aug-2014 12:30:47,4.186659,4.2,3.957,4.2,0.038696
4,RW20,0,4,charge (after random walk discharge),C,300.04,240.04,4.064,-2.001,22.81348,04-Aug-2014 12:30:47,4.186659,4.2,3.957,4.2,0.038696

In [4]:
df = feature_creator(df,'voltage',['batteryname','zyklus'],"std",'10')

Das hier ist nur ein dummy - das Framing muss noch erg√§nzt werden