# Importing Data and defining functions for feature engineering

1. Import Modules
2. Import data
3. Defining of functions
4. Applying and testing

## Importing Modules

In [1]:
import pandas as pd
import numpy as np

import functions as fu
from feature_engineering import *

# Pfade setzen
c_fold = fu.get_folder()
p_fold = c_fold + '\data\Prepared'

# Importing Data

In [2]:
# import Full Data
#df = fu.csv_einlesen(p_fold)


# import one dataset for developing
df = pd.read_csv(f"{p_fold}\\prepared_RW20.csv", index_col = 0)
print("Size of Dataframe: ",df.shape)

Size of Dataframe:  (1222375, 11)

# Defining of Functions

# Applying and testing

In [4]:
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"mean")
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"median")
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"min")
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"max")
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"std")
df = feature_creator(df,['voltage','current','temperature'],['batteryname','zyklus'],"count")
df.head()

,batteryname,zyklus,step,comment,type,time,relativeTime,voltage,current,temperature,...,min_voltage_all,min_current_all,min_temperature_all,max_voltage_all,max_current_all,max_temperature_all,std_voltage_all,std_current_all,std_temperature_all,count_entrys_all
0,RW20,0,0,charge (after random walk discharge),C,60.04,0.04,3.957,-2.005,22.22000,...,3.957,-2.005,21.79831,4.2,-0.01,26.04643,0.038696,0.728878,1.336022,167
1,RW20,0,1,charge (after random walk discharge),C,120.04,60.04,4.032,-2.000,22.26685,...,3.957,-2.005,21.79831,4.2,-0.01,26.04643,0.038696,0.728878,1.336022,167
2,RW20,0,2,charge (after random walk discharge),C,180.04,120.04,4.051,-2.000,22.40741,...,3.957,-2.005,21.79831,4.2,-0.01,26.04643,0.038696,0.728878,1.336022,167
3,RW20,0,3,charge (after random walk discharge),C,240.04,180.04,4.059,-2.000,22.61045,...,3.957,-2.005,21.79831,4.2,-0.01,26.04643,0.038696,0.728878,1.336022,167
4,RW20,0,4,charge (after random walk discharge),C,300.04,240.04,4.064,-2.001,22.81348,...,3.957,-2.005,21.79831,4.2,-0.01,26.04643,0.038696,0.728878,1.336022,167

In [4]:
df = feature_creator(df,'voltage',['batteryname','zyklus'],"std",'10')

Das hier ist nur ein dummy - das Framing muss noch ergÃ¤nzt werden

In [5]:
df.sample(5)

,batteryname,zyklus,step,comment,type,time,relativeTime,voltage,current,temperature,...,min_voltage_all,min_current_all,min_temperature_all,max_voltage_all,max_current_all,max_temperature_all,std_voltage_all,std_current_all,std_temperature_all,count_entrys_all
886818,RW20,22583,50,rest post random walk discharge,R,9070576.10,3000.01,4.101,0.00,21.10857,...,3.618,0.000,21.07756,4.101,0.000,24.70470,0.062630,0.000000,1.119468,61
1054671,RW20,25862,57,charge (after random walk discharge),C,12964685.85,3420.04,4.200,-0.02,18.25472,...,4.200,-0.833,17.87900,4.219,-0.010,18.41127,0.002138,0.109535,0.157170,79
1171480,RW20,28077,43,rest post random walk discharge,R,15981063.89,2580.01,4.093,0.00,21.09306,...,3.638,0.000,20.92256,4.095,0.000,23.77466,0.059563,0.000000,0.842499,61
567488,RW20,14918,37,discharge (random walk),D,4744051.74,37.04,3.413,3.50,37.87986,...,3.402,3.500,37.63428,3.461,3.504,38.04870,0.014577,0.000526,0.125839,61
843515,RW20,21688,559,pulsed load (discharge),D,8289881.29,559.04,3.628,1.00,23.18564,...,3.624,0.999,22.06960,3.778,1.004,23.23214,0.031836,0.000376,0.355322,601