# Analyse der aufbereiteten Daten von Daniel

## Übersicht:
* Einlesen von Packages und setzen von Variablen / Funktionen
* Daten einlesen und erste Übersicht erzeugen
* Verteilungsanalyse
* Zeitliche Analyse

## Daten einlesen

In [2]:
import pandas as pd
import numpy as np

import functions as fu
from matplotlib.pyplot import plot as plt

# Pfade setzen
c_fold = fu.get_folder()
p_fold = c_fold + '\data\Prepared'
folder = c_fold + '\data\Processed\Zyklus'
folder_final = c_fold + '\data\Processed\\final'

In [5]:
df = pd.read_csv(f"{folder_final}\\df_fertige_features.csv", sep=',')
df.head()

,batteryname_,amperestunden,zyklus_,temperature_amax,temperature_amin,temperature_mean,time_amin,time_entladen_stark_vorher,time_entladen_leicht_vorher,time_laden_stark_vorher,time_pause_vorher,time_temp_hoch,time_temp_hoch_vorher
0,RW1,2.000364,3,23.56742,18.39025,21.798768,385232.92,0.00,196178.50,194718.28,0.00,0.0,0.00
1,RW1,2.000250,5,24.06639,18.15403,21.449898,405533.19,0.00,203379.98,207816.73,0.00,0.0,0.00
2,RW1,1.958481,1009,22.81896,17.57133,20.530506,839519.21,17749.62,312669.57,472156.60,16048.39,0.0,178418.56
3,RW1,1.963192,1011,23.64538,18.12253,21.420698,858525.62,17749.62,319737.63,484111.86,16048.39,0.0,178418.56
4,RW1,1.911217,1925,23.89487,17.66582,20.839432,1248403.47,36155.14,406768.88,743215.33,28472.48,0.0,344313.14